<!--<p>home works!</p>-->

<!--<table style="width: 100%">-->
<!--  <tr>-->
<!--    <td>-->
<!--      <a data-toggle="tab" role = "tab" (click) = "loadTabComponent('STORY')" style=" cursor:pointer">-->
<!--      Story-->
<!--    </a>-->
<!--    </td>-->
<!--     <td>-->
<!--      <a data-toggle="tab" role = "tab" (click) = "loadTabComponent('SOURCE')" style=" cursor:pointer">-->
<!--      Source-->
<!--    </a>-->
<!--    </td>-->
<!--  </tr>-->
<!--  <tbody>-->
<!--  <tr>-->
<!--    <td colspan="3">-->
<!--      <ng-template appStoryTab></ng-template>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
<style>

</style>

<div class="navbarstory" >
  <a data-toggle="tab" role = "tab" (click) = "loadTabComponent('STORY')" style=" cursor:pointer">
      Story
    </a>
  <a data-toggle="tab" role = "tab" (click) = "loadTabComponent('SOURCE')" style=" cursor:pointer">
      Source
    </a>
  <a data-toggle="tab" role = "tab" (click) = "loadTabComponent('ADDSTORY')" style=" cursor:pointer">
      Add Story
    </a>
  <a data-toggle="tab" role = "tab" (click) = "loadTabComponent('ADDSOURCE')" style=" cursor:pointer">
      Add Source
    </a>

    <span style="float : right"> <a href='logout/'>Logout</a> </span>
<!--  <ng-template appStoryTab></ng-template>-->
</div>
 <ng-template appStoryTab></ng-template>


<!--<app-story></app-story>-->

